'.html':

#===================
  'BS Alert Primary':
    'prefix': 'bsAlertPrimary'
    'body': """
<div class="alert alert-primary" role="alert">
    $1
</div>
"""

#===================
  'BS Alert Secondary':
    'prefix': 'bsAlertSecondary'
    'body': """
<div class="alert alert-secondary" role="alert">
    $1
</div>
"""

#===================
  'BS Alert success':
    'prefix': 'bsAlertSuccess'
    'body': """
<div class="alert alert-success" role="alert">
    $1
</div>
"""

#===================
  'BS Alert Danger':
    'prefix': 'bsAlertDanger'
    'body': """
<div class="alert alert-danger" role="alert">
    $1
</div>
"""

#===================
  'BS Alert Warning':
    'prefix': 'bsAlertWarning'
    'body': """
<div class="alert alert-danger" role="alert">
    $1
</div>
"""

#===================
  'BS Alert Info':
    'prefix': 'bsAlertInfo'
    'body': """
<div class="alert alert-info" role="alert">
    $1
</div>
"""

#===================
  'BS Alert Light':
    'prefix': 'bsAlertLight'
    'body': """
<div class="alert alert-light" role="alert">
    $1
</div>
"""

#===================
  'BS Alert Dark':
    'prefix': 'bsAlertDark'
    'body': """
<div class="alert alert-dark" role="alert">
    $1
</div>
"""

#===================
  'BS Alert Full Content':
    'prefix': 'bsAlertFullContent'
    'body': """
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
    <hr>
    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>
"""

#===================
  'BS Alert With Dismiss Button Example':
    'prefix': 'bsAlertDismisButton'
    'body': """
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    $1<strong>Holy guacamole!</strong> You should check in on some of those fields below.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
"""
