'.html':

#===================
  'BS Breadcrumb One':
    'prefix': 'bsBreadcrumbOne'
    'body': """
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home$1</li>
    </ol>
</nav>
"""

#===================
  'BS Breadcrumb Two':
    'prefix': 'bsBreadcrumbTwo'
    'body': """
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home$1</a></li>
        <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ol>
</nav>
"""
