'.html':
# *************************** BS BUTTON ***************************
#=================== standard
  'BS Button Primary':
    'prefix': 'bsButtonPrimary'
    'body': """
<button type="button" class="btn btn-primary">Btn$1</button>
"""

#=================== standard
  'BS Button Secondary':
    'prefix': 'bsButtonSecondary'
    'body': """
<button type="button" class="btn btn-secondary">Btn$1</button>
"""

#=================== standard
  'BS Button Success':
    'prefix': 'bsButtonSuccess'
    'body': """
<button type="button" class="btn btn-success">Btn$1</button>
"""

#=================== standard
  'BS Button Danger':
    'prefix': 'bsButtonDanger'
    'body': """
<button type="button" class="btn btn-danger">Btn$1</button>
"""

#=================== standard
  'BS Button Warning':
    'prefix': 'bsButtonWarning'
    'body': """
<button type="button" class="btn btn-warning">Btn$1</button>
"""

#=================== standard
  'BS Button Info':
    'prefix': 'bsButtonInfo'
    'body': """
<button type="button" class="btn btn-info">Btn$1</button>
"""

#=================== standard
  'BS Button Light':
    'prefix': 'bsButtonLight'
    'body': """
<button type="button" class="btn btn-light">Btn$1</button>
"""

#=================== standard
  'BS Button Dark':
    'prefix': 'bsButtonDark'
    'body': """
<button type="button" class="btn btn-dark">Btn$1</button>
"""


#=================== outline
  'BS Button Primary Outline':
    'prefix': 'bsButtonOutlinePrimary'
    'body': """
<button type="button" class="btn btn-outline-primary">Btn$1</button>
"""

#=================== outline
  'BS Button Secondary Outline':
    'prefix': 'bsButtonOutlineSecondary'
    'body': """
<button type="button" class="btn btn-outline-secondary">Btn$1</button>
"""

#=================== outline
  'BS Button Success Outline':
    'prefix': 'bsButtonOutlineSuccess'
    'body': """
<button type="button" class="btn btn-outline-success">Btn$1</button>
"""

#=================== outline
  'BS Button Danger Outline':
    'prefix': 'bsButtonOutlineDanger'
    'body': """
<button type="button" class="btn btn-outline-danger">Btn$1</button>
"""

#=================== outline
  'BS Button Warning Outline':
    'prefix': 'bsButtonOutlineWarning'
    'body': """
<button type="button" class="btn btn-outline-warning">Btn$1</button>
"""

#=================== outline
  'BS Button Info Outline':
    'prefix': 'bsButtonOutlineInfo'
    'body': """
<button type="button" class="btn btn-outline-info">Btn$1</button>
"""

#=================== outline
  'BS Button Light Outline':
    'prefix': 'bsButtonOutlineLight'
    'body': """
<button type="button" class="btn btn-outline-light">Btn$1</button>
"""

#=================== outline
  'BS Button Dark Outline':
    'prefix': 'bsButtonOutlineDark'
    'body': """
<button type="button" class="btn btn-outline-dark">Btn$1</button>
"""
# *************************** BS BUTTON ***************************
